@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
#aboutus{
    width: 95%;
    height: auto;
    margin: $dist3 auto 0 auto;
    display: flex;
    @include flex(row,flex-start,flex-start,nowrap,"") ;
    #persian,#english{
        width: 50%;
        margin: 0;
        display: flex;
        @include flex(column,flex-start,flex-start,nowrap,"") ;
        &:nth-child(2){margin-right: $dist3;}
        h4{
            font-size: $fontL;
            font-weight: 700;
            color: $textDark;
        }
        p{
            margin-top: $dist1;
            font-size: $fontM;
            color: darken($textGrey,20%);
        }
    }
    #english{
        direction: ltr;
    }
}