@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
@import './articleImg.scss' ;
@import './articleInfo.scss' ;
@import './articleRef.scss' ;
#article{
    padding: 0;
    display: flex;
    @include flex(row,flex-start,flex-start,wrap,flex-start);
    .img,.video,.infos{
        width: 50%;
        height: 45em;
    }
    .content{
        width: 100%;
        height: auto;
    }
}