#latest .title, #articles .title {
  width: 100%;
  height: auto;
  background-color: #343743;
  overflow: hidden;
}

#latest .title .skew, #articles .title .skew {
  display: inline-block;
  width: auto;
  height: auto;
  background-color: #26a69a;
  -webkit-transform: translateX(2em) skewX(-30deg);
     -moz-transform: translateX(2em) skewX(-30deg);
      -ms-transform: translateX(2em) skewX(-30deg);
          transform: translateX(2em) skewX(-30deg);
  padding: 0.75em 1.5em 0.75em 12em;
}

#latest .title .skew h4, #articles .title .skew h4 {
  font-size: 1.6em;
  font-weight: 700;
  color: #fbfbfb;
  -webkit-transform: skewX(30deg) translateX(-1.5em);
     -moz-transform: skewX(30deg) translateX(-1.5em);
      -ms-transform: skewX(30deg) translateX(-1.5em);
          transform: skewX(30deg) translateX(-1.5em);
}

#articles .title {
  border-top-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
}

#latest .pagination, #articles .pagination {
  width: auto;
  height: auto;
  border-radius: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  margin: 2em auto .5em auto;
}

#latest .pagination li, #articles .pagination li {
  width: auto;
  height: auto;
  font-size: 1.6em;
  color: #2d2d31;
  padding: 0.5em 1em;
  background-color: white;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  border-left: 1px solid #c6c6cb;
}

#latest .pagination li:first-child, #articles .pagination li:first-child {
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

#latest .pagination li:last-child, #articles .pagination li:last-child {
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  border-left: none;
}

#latest .pagination li:hover, #articles .pagination li:hover {
  background-color: #26a69a;
}

#latest .pagination li:hover a, #articles .pagination li:hover a {
  color: #fbfbfb;
}

#latest .pagination li a, #articles .pagination li a {
  color: #26a69a;
}

#latest .pagination li.active, #articles .pagination li.active {
  background-color: #26a69a;
}

#latest .pagination li.active a, #articles .pagination li.active a {
  color: #fbfbfb;
}

#latest .pagination li.disabled, #articles .pagination li.disabled {
  background-color: #c6c6cb;
}

#latest .pagination li.disabled a, #articles .pagination li.disabled a {
  color: #2d2d31;
}

#articles .pagination {
  margin-bottom: 1.5em;
}

#popularWrapper {
  height: 100%;
}

#popularWrapper > .article {
  width: 100%;
  height: -webkit-calc((100% / 3) + 3em);
  height: -moz-calc((100% / 3) + 3em);
  height: calc((100% / 3) + 3em);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#popularWrapper > .article .img {
  width: 100%;
  height: 10em;
}

#popularWrapper > .article .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#popularWrapper > .article h4 {
  width: 100%;
  font-size: 1.6em;
  color: #2d2d31;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  line-height: 1.5em;
  max-height: 3em;
  text-align: justify;
  padding-left: 2em;
  padding-right: 0;
  margin-top: .3em;
}

#popularWrapper > .article h4 .ellipse {
  color: #2d2d31;
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
}

#popularWrapper > .article h4 .ellipse.show {
  display: block;
}

#popularWrapper > .article .row {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  margin-top: .15em;
}

#popularWrapper > .article .row p {
  font-size: 1.2em;
  color: #90909b;
}

#popularWrapper > .article .row p:nth-child(2) {
  margin-right: 1.5em;
}

.popular, #popular {
  width: 100%;
  height: 100%;
  margin-top: 0em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

.popular .title, #popular .title {
  width: 100%;
  height: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  padding: 0;
}

.popular .title h4, #popular .title h4 {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: auto;
  height: auto;
  font-size: 1.6em;
  font-weight: 700;
  color: #26a69a;
}

.popular .title .line, #popular .title .line {
  width: 100%;
  height: .2em;
  background-color: #26a69a;
  margin-right: .3em;
}

.popular .articles, #popular .articles {
  width: 100%;
  max-height: -webkit-calc(100% - 3em);
  max-height: -moz-calc(100% - 3em);
  max-height: calc(100% - 3em);
  overflow: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

.popular .articles .article, #popular .articles .article {
  width: 100%;
  height: auto;
  padding: 0.75em 0;
  border-bottom: 1px solid #c6c6cb;
  background-color: white;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

.popular .articles .article:last-child, #popular .articles .article:last-child {
  border-bottom: none;
}

.popular .articles .article:hover, #popular .articles .article:hover {
  background-color: #ebebeb;
}

.popular .articles .article p, #popular .articles .article p {
  font-size: 1.6em;
  color: #2d2d31;
}

#popular {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 40em;
  height: auto;
  margin: 0 3em 0 0;
}

#latest .tags {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#latest .tags .tag {
  width: auto;
  height: auto;
  padding: 0.5em 1em;
  font-weight: 1.2em;
  color: #fbfbfb;
  margin-top: .5em;
}

#latest .tags .tag:first-child {
  margin-top: 0;
}

#latest .tags .tag.news {
  background-color: #004782;
}

#latest .tags .tag.new {
  background-color: #26a69a;
}

#latest .tags .tag.special {
  background-color: #ea6161;
}

main {
  width: 95%;
  height: auto;
  margin: 3em auto 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #latest {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-bottom: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #latest .articles {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #latest .articles .article {
  width: 100%;
  height: auto;
  padding: 1.5em 0.75em;
  border-bottom: 1px solid #c6c6cb;
  background-color: white;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #latest .articles .article:hover {
  background-color: #e6e6e6;
}

main #latest .articles .article:last-child {
  border-bottom: none;
}

main #latest .articles .article h4 {
  width: auto;
  height: auto;
  font-size: 1.6em;
  font-weight: 700;
  color: #2d2d31;
}

main #latest .articles .article .row {
  width: 100%;
  height: auto;
  margin-top: 1.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #latest .articles .article .row .img {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 15em;
  height: 13em;
  position: relative;
}

main #latest .articles .article .row .img .tags {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #latest .articles .article .row .img .tags .tag {
  width: auto;
  height: auto;
  padding: 0.2em 1em;
  font-size: 1.2em;
  color: #fbfbfb;
  margin-top: 0.75em;
}

main #latest .articles .article .row .img .tags .tag:first-child {
  margin-top: 0;
}

main #latest .articles .article .row .info {
  width: 100%;
  height: auto;
  margin-right: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #latest .articles .article .row .info p {
  font-size: 1.6em;
  color: #90909b;
}

main #latest .articles .article .row .info .innerRow {
  width: 100%;
  height: auto;
  margin-top: 0.75em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #latest .articles .article .row .info .innerRow .right, main #latest .articles .article .row .info .innerRow .left {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #latest .articles .article .row .info .innerRow .right p, main #latest .articles .article .row .info .innerRow .left p {
  font-size: 1.2em;
  color: #90909b;
}

main #latest .articles .article .row .info .innerRow .right p:not(:first-child) {
  margin-right: 1.5em;
}

main #latest .articles .article .row .info .innerRow .left {
  margin-right: 1.5em;
}

main #latest .articles .article .row .info .innerRow .left .like, main #latest .articles .article .row .info .innerRow .left .comment {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

main #latest .articles .article .row .info .innerRow .left .like i, main #latest .articles .article .row .info .innerRow .left .comment i {
  width: 2.2em;
  height: 2.2em;
  border-radius: 50%;
  border: 1px solid #90909b;
  color: #ababb3;
  font-size: 1.2em;
  position: relative;
}

main #latest .articles .article .row .info .innerRow .left .like i::before, main #latest .articles .article .row .info .innerRow .left .comment i::before {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
     -moz-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  font-size: inherit;
  color: inherit;
}

main #latest .articles .article .row .info .innerRow .left .like p, main #latest .articles .article .row .info .innerRow .left .comment p {
  margin-top: 0em;
}

main #latest .articles .article .row .info .innerRow .left .comment {
  margin-right: 1.5em;
}

@media screen and (max-width: 1000px) {
  main {
    font-size: 8px;
  }
}

@media screen and (max-width: 700px) {
  main {
    font-size: 6px;
  }
}

@media screen and (max-width: 800px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
  }
  main #latest .articles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
  }
  main #latest .articles .article {
    width: -webkit-calc((100% - (2 * 2em)) / 2);
    width: -moz-calc((100% - (2 * 2em)) / 2);
    width: calc((100% - (2 * 2em)) / 2);
  }
  main #latest .articles .article:nth-last-child(1) {
    border-bottom: none;
  }
  main #latest .articles .article:nth-last-child(2) {
    border-bottom: none;
  }
  main #latest .articles .article:nth-child(even) {
    margin-right: 4em;
  }
  main #popular {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    width: 40em;
    height: auto;
    margin: 3em auto 0 auto;
  }
}

@media screen and (max-width: 600px) {
  main #latest .articles .article {
    width: 100%;
  }
  main #latest .articles .article:nth-last-child(1) {
    border-bottom: none;
  }
  main #latest .articles .article:nth-last-child(2) {
    border-bottom: 1px solid #c6c6cb;
  }
  main #latest .articles .article:nth-child(even) {
    margin-right: 0em;
  }
}

@media screen and (max-width: 450px) {
  main #popular {
    width: 100%;
  }
}
/*# sourceMappingURL=articles.css.map */