@import '../../variables.scss' ;
@import '../../mixins.scss' ;
@import '../../colors.scss' ;
@import '../../utilities/styles/sliderMove.scss';
#grid{
    padding: 2em ;
    display: flex ;
    @include flex(column,flex-start,center,nowrap,"") ;
    .row{
        width: 100% ;
        height: auto;
        &:not(:first-child){margin-top: 2em;}
        display: flex ;
        @include flex(row,flex-start,flex-start,nowrap,"") ;
        .article{
            display: flex ;
            @include flex(column,flex-start,flex-start,nowrap,"") ;
            &:hover{
                .img{
                    img{
                        transform: scale(1.2) ;
                    }
                }
            }
            .img{
                width: 100% ;
                overflow: hidden;
                border-radius: $dist2 ;
                img{
                    width: 100% ;
                    object-fit: cover ;
                    transition: all .2s linear ;
                }
            } 
            h4{
                width: 100% ;
                font-size: $fontM ;
                color: $textDark ;
                font-weight: 700 ;
            }
            .date{
                font-size: $fontS ;
                color: lighten($textGrey,0);
            }
        }
        > .article{
            width: calc((100% / 3)) ;
            height: auto;
            margin-right: 2em ;
            &:first-child{margin-right: 0;}
            img{
                height: 15em;
            }
            h4{
                @include multiEllipse(2,$dist2 + .2em,$textDark) ;              
            }
        }
        .col{
            width: 50% ;
            height: 50em;
            display: flex ;
            @include flex(column,flex-start,flex-start,nowrap,"") ;
            &:nth-child(2){
                margin-right: 2em ;
                .article{
                    width: 100% ;
                    height: calc(100% - 2);
                    margin-top: 2em ;
                    &:first-child{margin-top: 0;}
                    img{
                        height: 19em;
                    }
                    h4{
                    }
                }
            }
        }
        
    }
}