@import './fonts.scss' ;
@import './colors.scss' ;
*{
    box-sizing: border-box ;
    padding: 0;
    margin: 0;
    direction: rtl ;
    // font-family: byekan ;
    font-family: iranSans ;
    -webkit-tap-highlight-color: transparent;
}
html,body{
    height: 100%;
    font-size: 10px !important ;
}
body.bg{
    background-color: $bodyColor;
}
a {
    border: none ;
    text-decoration: none;
    &:focus{outline: none;}
}
button {
    border: none ;
	background-color: none ;
    &:focus{outline: none;}
}
input {
    &:focus{outline: none;}
}
textarea {
    &:focus{outline: none;}
}
video{
    &:focus{outline: none;}
}
ul{
    list-style: none ;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
input[type=number] {
    -moz-appearance:textfield;
}
div#some{
    width: 500px ;
    height: 500px;
    background-color: white ;
    position: relative ;
    top: 20% ;
    right: 20% ;
    transition: all .3s linear ;
    box-shadow: 0 0 2em .2em rgba(135,135,135,.5) ; 
    &:hover{
        transform: translateY(-2em) ;
        box-shadow: 0 7em 2em -4em rgba(80,80,80,.35) ;

    }
}